# See http://help.github.com/ignore-files/ for more about ignoring files.


# word backup files
~$*.docx

.history

# ignore source files in backend/build
/backend/build/**/*.js

#ignore angular output files in integrated build
/backend/angular/

# ignore image files
backend/images

#ninja tool
.ninja_log

# compiled output
/dist
/tmp
/out-tsc

# ignore *ALL* node_modules!
node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

